<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>DOSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
			</dict>
			<key>ellekit</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ellekit</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
			</dict>
			<key>red</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
