<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>opa.dopamine</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>opa.dopamine</string>
			<key>key</key>
			<string>amazing</string>
			<key>label</key>
			<string>What an amazing setting</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>opa.dopamine</string>
			<key>key</key>
			<string>Wow</string>
			<key>label</key>
			<string>Preference.framework is lit</string>
		</dict>
	</array>
	<key>title</key>
	<string>Test</string>
</dict>
</plist>
