<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_Source_Code</string>
			<key>key</key>
			<string>src</string>
			<key>image</key>
			<string>filemenu.and.cursorarrow</string>
			<key>action</key>
			<string>openSourceCode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_Discord</string>
			<key>key</key>
			<string>discord</string>
			<key>image</key>
			<string>bubble.left.and.bubble.right.fill</string>
			<key>action</key>
			<string>openDiscord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_License</string>
			<key>key</key>
			<string>license</string>
			<key>image</key>
			<string>newspaper</string>
			<key>action</key>
			<string>openLicense</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>opa334</string>
					<key>link</key>
					<string>https://twitter.com/opa334dev</string>
				</dict>
				<dict>
					<key>name</key>
					<string>kok3shidoll</string>
					<key>link</key>
					<string>https://github.com/kok3shidoll</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UI and Design</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>tomt000</string>
					<key>link</key>
					<string>https://twitter.com/tomt000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>sourcelocation</string>
					<key>link</key>
					<string>https://twitter.com/sourceloc</string>
				</dict>
				<dict>
					<key>name</key>
					<string>xerus</string>
					<key>link</key>
					<string>https://twitter.com/xerusdesign</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>Fugu15</string>
					<key>link</key>
					<string>https://github.com/pinauten/Fugu15</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Fugu15_Rootful</string>
					<key>link</key>
					<string>https://github.com/pinauten/Fugu15_Rootful</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Linus Henze</string>
					<key>link</key>
					<string>https://twitter.com/LinusHenze</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tihmstar</string>
					<key>link</key>
					<string>https://twitter.com/tihmstar</string>
				</dict>
				<dict>
					<key>name</key>
					<string>oct0xor</string>
					<key>link</key>
					<string>https://twitter.com/oct0xor</string>
				</dict>
				<dict>
					<key>name</key>
					<string>kucher1n</string>
					<key>link</key>
					<string>https://twitter.com/kucher1n</string>
				</dict>
				<dict>
					<key>name</key>
					<string>bzvr_</string>
					<key>link</key>
					<string>https://twitter.com/bzvr_</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Op. Triangulation</string>
					<key>link</key>
					<string>https://www.youtube.com/watch?v=1f6YyH62jFE</string>
				</dict>
				<dict>
					<key>name</key>
					<string>felix-pb</string>
					<key>link</key>
					<string>https://github.com/felix-pb</string>
				</dict>
				<dict>
					<key>name</key>
					<string>0x7ff</string>
					<key>link</key>
					<string>https://github.com/0x7ff</string>
				</dict>
				<dict>
					<key>name</key>
					<string>évelyne</string>
					<key>link</key>
					<string>https://github.com/evelyneee</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Alfie</string>
					<key>link</key>
					<string>https://twitter.com/alfiecg_dev</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Clarity</string>
					<key>link</key>
					<string>https://github.com/TheRealClarity</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Dhinak G</string>
					<key>link</key>
					<string>https://twitter.com/dhinakg</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Capt Inc</string>
					<key>link</key>
					<string>https://github.com/captinc</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sam Bingner</string>
					<key>link</key>
					<string>https://github.com/sbingner</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Procursus</string>
					<key>link</key>
					<string>https://procursus.social/@team</string>
				</dict>
				<dict>
					<key>name</key>
					<string>roothideDev</string>
					<key>link</key>
					<string>https://twitter.com/roothideDev</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amy While</string>
					<key>link</key>
					<string>https://github.com/elihwyma</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Adam Demasi</string>
					<key>link</key>
					<string>https://github.com/kirb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Dopamine Settings</string>
</dict>
</plist>
