<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOHeaderCell</string>
			<key>title</key>
			<string>Made by opa334, ElleKit by évelyne</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Source Code</string>
			<key>key</key>
			<string>src</string>
			<key>image</key>
			<string>filemenu.and.cursorarrow</string>
			<key>action</key>
			<string>openSourceCode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>License</string>
			<key>key</key>
			<string>license</string>
			<key>image</key>
			<string>checkmark.seal.fill</string>
			<key>action</key>
			<string>openLicense</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Discord</string>
			<key>key</key>
			<string>discord</string>
			<key>image</key>
			<string>bubble.left.and.bubble.right.fill</string>
			<key>action</key>
			<string>openDiscord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>opa334</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Évelyne</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>longername</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>short</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tiny</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>superlongname</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>lorem</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>ipsum</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>sidolor</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
				<dict>
					<key>name</key>
					<string>yes</string>
					<key>link</key>
					<string>https://apple.com</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Dopamine Settings</string>
</dict>
</plist>
