<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOHeaderCell</string>
			<key>title</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.opa334.Dopamine</string>
			<key>key</key>
			<string>tweaks</string>
			<key>label</key>
			<string>Enable Tweaks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.opa334.Dopamine</string>
			<key>key</key>
			<string>debug</string>
			<key>label</key>
			<string>Verbose Log</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Hide Jailbreak</string>
			<key>key</key>
			<string>hidejb</string>
			<key>image</key>
			<string>eye.slash</string>
			<key>action</key>
			<string>hideJailbreak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Remove Jailbreak</string>
			<key>key</key>
			<string>removejb</string>
			<key>image</key>
			<string>trash</string>
			<key>action</key>
			<string>removeJailbreak</string>
			<key>footerText</key>
			<string>"Hide jailbreak" temporarily removes jailbreak-related files until next jailbreak</string>
		</dict>
	</array>
	<key>title</key>
	<string>Dopamine Settings</string>
</dict>
</plist>
