<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Label</key>
	<string>com.opa334.trustcache_rebuild</string>
	<key>ProgramArguments</key>
	<array>
		<string>basebin/jbctl</string>
		<string>rebuild_trustcache</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
